.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: hsl(292, 60%, 57%);
    font-size: 1.75rem;
}

span {
    color: black;
}

.form {
    width: 300px;
    background-color: hsl(292, 60%, 57%);
    border-radius: 20px;
    text-align: center;
    margin: 1rem 1.2rem;
    padding: 1rem 1rem 1.6rem 1rem;
    margin-bottom: 0;
    
}

.text {
    color: white;
    font-size: 1.25rem;
}

.input {
    border: 2px solid hsl(0, 0%, 40%);
    outline: none;
    padding: .25em;
    font-size: 1rem;
    border-radius: 5px;
    font-family: inherit;
    line-height: inherit;
    margin: .25rem 0;
}

.input:focus {
    border: 2px solid black;
}

.username {
    margin-bottom: .5rem;
}

.password {
    margin-bottom: .5rem;
}

.checkbox {
    margin-bottom: .5rem;
}

.btn {
    background-color: white;
    border: 1px solid black;
    border-radius: .4em;
    margin-top: .5rem;
    padding: .2rem .75rem;
    outline: none;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: hsl(0, 0%,15%);
    color: white;
}

.checkbox {
    cursor: pointer;
}

.register {
    text-align: center;
}

p {
    margin-top: 0;
}
u {
    cursor: pointer;
}

@media screen and (min-width: 810px) and (max-width: 1600px) {

    .header {
        font-size: 2.5rem;
    }

    .form {
        width: 450px;
    }

    .text {
        font-size: 1.75rem;
    }

    .input {
        width: 250px;
        margin: .5rem;
    }

    .checkbox {
        margin-top: .5rem;
    }

    .btn {
        font-size: inherit;
        padding: .3rem;
        margin-top: 1rem;
        margin-bottom: .5rem;
        width: 100px;
    }

}
